@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>测试FormEngine结果：@ViewBag.SysUserResult</p>
    <p>测试V8Engine结果：@ViewBag.V8EngineResult</p>
    <p>测试ApiEngine结果：@ViewBag.ApiEngineResult</p>
</div>
