.DS_Store
node_modules/

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
!Microi.Server/Microi.net.Api/bin/
!Microi.Server/Microi.net.Api/bin/Release/
!Microi.Server/Microi.net.Api/bin/Release/Dockerfile
!Microi.Server/Microi.net.Api/bin/Release/publish-demo.sh
Microi.Server/Microi.net.Api/bin/Release/*
!Microi.Server/Microi.net.Api/bin/Release/Dockerfile
!Microi.Server/Microi.net.Api/bin/Release/publish-demo.sh
# 允许跟踪 microi.web/bin/Release 下的配置文件
!/microi.web/bin/
!/microi.web/bin/Release/
!/microi.web/bin/Release/Dockerfile
!/microi.web/bin/Release/default.conf
!/microi.web/bin/Release/publish-*.sh
!/microi.web/bin/Release/.gitignore
[Bb]in/
[Oo]bj/
[Ll]og/
Thumbs.db

# 保留 bin 目录中的特定文件，但忽略其他内容
# 注意：由于 [Bb]in/ 已经在上面设置了，所以特定文件的例外必须在 [Bb]in/ 规则之前

Microi.net/
Microi.AI/
microi.webos/

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
microi.doc/docs/.vitepress/publish-microi-doc.sh
package-lock.json

/Microi.Server/Microi.net.Api/Properties/PublishProfiles

# 忽略开发配置文件
appsettings.*.json

.github
nuget-push-all.sh

release-push-all.sh
Microi.Anderson.sln

.vscode
config.json
publish



