.DS_Store
node_modules/*
node_modules/

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
.DS_Store
Thumbs.db

Microi.net/
microi.webos/

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
microi.doc/docs/.vitepress/publish-microi-doc.sh
package-lock.json

/Microi.Server/Microi.net.Api/Properties/PublishProfiles

# vscode 配置文件
.vscode/
# 忽略开发配置文件
appsettings.Development.json

# 添加例外，不忽略特定的 Dockerfile
!/Microi.Server/Microi.net.Api/bin/Release/Dockerfile









