.list-item{
  padding: 18px 18px 5px 18px;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 20px 60px rgba(102, 127, 191, 0.25);
  &-name{
    font-size: 19px;
    color: rgba(34, 34, 34, 1);
    font-weight: bold;
  }
  &-progress{
    font-size: 14px;
    color: #fff;
    background: #3579F4;
    padding: 2px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    line-height: 24.65px;
    height: 25px;
  }
  &-desc{
    font-size: 14px;
    color: rgba(136, 136, 136, 1);
  }
  &-content{
    font-size: 15px;
    color: rgba(68, 68, 68, 1);
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 34px;
  }
  &-tag{
    align-items: center;
    display: flex;
    background: #F0F7FF;
    padding: 2px 10px;
    border-radius: 20px;
    margin-right: 16px;
    margin-bottom: 15px;
    font-size: 15px;
  }
}
.Ongoing{
  background: #1ABDB2;
}
.Expired{
  background: #BBBBBB;
}
.uni-tabs {
  overflow: scroll;
  width: 100%;
}

.scroll-h {
  width: 750rpx;
  /* #ifdef H5 */
  width: 100%;
  /* #endif */
  height: 80rpx;
  flex-direction: row;
  /* #ifndef APP-PLUS */
  white-space: nowrap;
  /* #endif */
  /* flex-wrap: nowrap; */
  /* border-color: #cccccc;
  border-bottom-style: solid;
  border-bottom-width: 1px; */
  
}
::v-deep .uni-scroll-view-content{
  display: flex;
  justify-content: space-around;
}
.uni-tab-item {
  /* #ifndef APP-PLUS */
  display: inline-block;
  /* #endif */
  flex-wrap: nowrap;
  padding-left: 34rpx;
  padding-right: 34rpx;
}

.uni-tab-item-title {
  color: rgb(119, 119, 119);
  font-size: 30rpx;
  height: 80rpx;
  line-height: 80rpx;
  flex-wrap: nowrap;
  /* #ifndef APP-PLUS */
  white-space: nowrap;
  /* #endif */
}

.uni-tab-item-title-active {
  color: rgb(34, 34, 34);
  border-bottom: 2px solid #007AFF;
  padding-bottom: 8px;
}
.search-box{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background: white;
  padding: 20px 20px 0px 20px;
  z-index: 999;
}
.list-container{
  padding-top: 100px;
}