@font-face {
  font-family: "mpe-iconfont"; /* Project id 3559670 */
  src: url("iconfont.woff2?t=1667531544868") format("woff2"),
    url("iconfont.woff?t=1667531544868") format("woff"),
    url("iconfont.ttf?t=1667531544868") format("truetype");
}

.microi-print-engine .mpe-iconfont {
  font-family: "mpe-iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.microi-print-engine .sv-edit-data:before {
  content: "\e655";
}

.microi-print-engine .sv-shimmer:before {
  content: "\e6d6";
}

.microi-print-engine .sv-origin:before {
  content: "\e6ac";
}

.microi-print-engine .sv-zIndex:before {
  content: "\e603";
}

.microi-print-engine .sv-structure:before {
  content: "\ec6f";
}

.microi-print-engine .sv-list:before {
  content: "\e742";
}

.microi-print-engine .sv-grid:before {
  content: "\e849";
}

.microi-print-engine .sv-flow:before {
  content: "\e611";
}

.microi-print-engine .sv-switch:before {
  content: "\e6f6";
}

.microi-print-engine .sv-theme:before {
  content: "\e644";
}

.microi-print-engine .sv-element:before {
  content: "\e615";
}

.microi-print-engine .sv-pdf:before {
  content: "\e67a";
}

.microi-print-engine .sv-browser:before {
  content: "\e726";
}

.microi-print-engine .sv-font-big:before {
  content: "\eb04";
}

.microi-print-engine .sv-font-small:before {
  content: "\eb05";
}

.microi-print-engine .sv-font-bold:before {
  content: "\ec83";
}

.microi-print-engine .sv-font-tiny:before {
  content: "\e6c1";
}

.microi-print-engine .sv-options:before {
  content: "\e607";
}

.microi-print-engine .sv-close:before {
  content: "\e646";
}

.microi-print-engine .sv-clone:before {
  content: "\ec7a";
}

.microi-print-engine .sv-cut:before {
  content: "\e643";
}

.microi-print-engine .sv-preview:before {
  content: "\e61c";
}

.microi-print-engine .sv-zoom-in:before {
  content: "\e60f";
}

.microi-print-engine .sv-zoom-out:before {
  content: "\e610";
}

.microi-print-engine .sv-edit:before {
  content: "\e6b9";
}

.microi-print-engine .sv-paste:before {
  content: "\e6c0";
}

.microi-print-engine .sv-copy:before {
  content: "\e6c2";
}

.microi-print-engine .sv-unlock:before {
  content: "\e6e7";
}

.microi-print-engine .sv-lock:before {
  content: "\e6e8";
}

.microi-print-engine .sv-zIndex-plus:before {
  content: "\e715";
}

.microi-print-engine .sv-zIndex-minus:before {
  content: "\e716";
}

.microi-print-engine .sv-zIndex-top:before {
  content: "\e71f";
}

.microi-print-engine .sv-sigh:before {
  content: "\e724";
}

.microi-print-engine .sv-ask:before {
  content: "\e725";
}

.microi-print-engine .sv-dev-code:before {
  content: "\e733";
}

.microi-print-engine .sv-bug:before {
  content: "\e73f";
}

.microi-print-engine .sv-zIndex-bottom:before {
  content: "\e71d";
}

.microi-print-engine .sv-new:before {
  content: "\e64d";
}

.microi-print-engine .sv-clear:before {
  content: "\e62d";
}

.microi-print-engine .sv-base:before {
  content: "\e7d0";
}

.microi-print-engine .sv-export:before {
  content: "\eabf";
}

.microi-print-engine .sv-import:before {
  content: "\eac0";
}

.microi-print-engine .sv-add:before {
  content: "\eaf3";
}

.microi-print-engine .sv-printer:before {
  content: "\eabe";
}

.microi-print-engine .sv-save:before {
  content: "\eabd";
}

.microi-print-engine .sv-more:before {
  content: "\e625";
}

.microi-print-engine .sv-menu:before {
  content: "\e628";
}

.microi-print-engine .sv-nav-right:before {
  content: "\e629";
}

.microi-print-engine .sv-nav-up:before {
  content: "\e62a";
}

.microi-print-engine .sv-nav-left:before {
  content: "\e62b";
}

.microi-print-engine .sv-nav-down:before {
  content: "\e62c";
}

.microi-print-engine .sv-setting:before {
  content: "\e62e";
}

.microi-print-engine .sv-delete:before {
  content: "\e630";
}

.microi-print-engine .sv-undo:before {
  content: "\e631";
}

.microi-print-engine .sv-redo:before {
  content: "\e632";
}

.microi-print-engine .sv-refresh:before {
  content: "\e634";
}

.microi-print-engine .sv-history:before {
  content: "\e635";
}

.microi-print-engine .sv-html:before {
  content: "\e633";
}

.microi-print-engine .sv-longText:before {
  content: "\e64c";
}

.microi-print-engine .sv-table:before {
  content: "\ec15";
}

.microi-print-engine .sv-qrcode:before {
  content: "\e642";
}

.microi-print-engine .sv-image:before {
  content: "\e8ba";
}

.microi-print-engine .sv-barcode:before {
  content: "\eb64";
}

.microi-print-engine .sv-text:before {
  content: "\e60b";
}

.microi-print-engine .sv-vline:before {
  content: "\e63a";
}

.microi-print-engine .sv-oval:before {
  content: "\eb99";
}

.microi-print-engine .sv-rect:before {
  content: "\e620";
}

.microi-print-engine .sv-hline:before {
  content: "\e60a";
}

.microi-print-engine .sv-print-c:before {
  content: "\e602";
}

.microi-print-engine .sv-print:before {
  content: "\e601";
}

.microi-print-engine .sv-c:before {
  content: "\e600";
}

.microi-print-engine .sv-vertical:before {
  content: "\e706";
}

.microi-print-engine .sv-distributeHor:before {
  content: "\e707";
}

.microi-print-engine .sv-right:before {
  content: "\e708";
}

.microi-print-engine .sv-left:before {
  content: "\e709";
}

.microi-print-engine .sv-distributeVer:before {
  content: "\e70f";
}

.microi-print-engine .sv-bottom:before {
  content: "\e710";
}

.microi-print-engine .sv-top:before {
  content: "\e711";
}

.microi-print-engine .sv-horizontal:before {
  content: "\e712";
}

.microi-print-engine .sv-rotate:before {
  content: "\e66f";
}

.microi-print-engine .sv-butongbu:before {
  content: "\e636";
}

.microi-print-engine .sv-synchronization:before {
  content: "\e676";
}
