body{
    background-color: #EDF0F9 !important;
    font-size: 13px !important;
}
.hasTagsView .app-main{
    text-align: left;
    padding-left: 0px;
    padding-right: 0px;
}
.fixed-header{
    padding-left: 20px;
    padding-right: 20px;
}
.navbar{
    display: block;
}