// 页面全局样式
// 去除高德地图 logo
.amap-logo {
  display: none !important;
  opacity: 0 !important;
}
.amap-copyright {
  opacity: 0 !important;
}

.go-view-editor-wrapper[data-theme='dark'],
.go-view-preview-wrapper[data-theme='dark'] {
  background-color: #18181c;
}