.page {
  position: relative;
  width: 100%;
  min-height: 100vh;
	padding: 40rpx;
	.avatar-img{
		margin-top: 100rpx;
	}
	.fromBg{
		margin-top: 150rpx;
		&-item{
			margin-bottom: 50rpx;
		}
	}
	.btn{
		margin-top: 100rpx;
	}
}
