$sideBarWidth: 240px !important;
button {
    outline: none !important;
}
p {
    margin-bottom: 0px;
}

.microi.Classic {
    .el-upload,
    .el-upload-dragger {
        max-width: 100%;
    }
    .el-upload-dragger {
        padding: 0px;
        width: auto;
        height: auto;
        .el-icon-upload {
            margin: 0px;
            float: left;
            font-size: 26px;
            line-height: 26px;
            padding-left: 10px;
        }
        .el-upload__text {
            width: 250px;
        }
    }
    .box-shadow {
        box-shadow: -5px 6px 9px 0px rgba(84, 115, 232, 0.06);
    }

    .tags-view-container-microi .tags-view-wrapper-microi .tags-view-item-microi[data-v-fac8ca64]:first-of-type {
        margin-left: 10px;
    }
    .el-card.no-padding-body {
        .el-card__body {
            padding: 0;
        }
    }
    .no-border-outside.el-table--border {
        // border-left: none;
        // border-right: none;
        border: none;
    }
    .collapse:not(.show) {
        display: block;
        text-align: center;

        padding-left: 0 !important;
        // padding-right: 0px !important;
        // text-align: center !important;
        // .sidebar-logo-microi{
        //     margin-right: 0px !important;
        // }
    }

    .sidebar-logo-microi-container-microi,
    .hasTagsView .app-main-microi {
        // text-align: left;
        // padding-left: 20px;
        // padding-right: 20px;
    }
    .hasTagsView .app-main-microi {
        // max-height: calc(100vh - 80px);
        // overflow-y: scroll;
    }
    .sidebar-logo-microi-container-microi .sidebar-logo-microi-link .sidebar-title-microi {
        // width: 158px;
        // height: 32px;
        line-height: 32px;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-left: 10px;
        // overflow: hidden;
    }
    .sidebar-logo-microi-container-microi .sidebar-logo-microi-link .sidebar-logo-microi {
        // margin-right: 10px;
        width: auto;
        height: 40px;
    }
    .navbar-microi {
        // height: 46px;
        height: auto;
        padding-top: 0;
        padding-bottom: 0;
        box-shadow: none;
        display: block;
        padding-left: 0;
        .hamburger-container-microi {
            padding-left: 10px !important;
        }
    }
    .navbar-microi .right-menu {
        line-height: 30px;
        height: 30px;
    }
    .navbar-microi .right-menu .avatar-container .avatar-wrapper {
        margin-top: 0;
    }
    .navbar-microi .right-menu .avatar-container .avatar-wrapper .el-icon-caret-bottom {
        top: 18px;
    }
    .navbar-microi .right-menu .avatar-container .avatar-wrapper .user-avatar {
        width: 30px;
        height: 30px;
    }
    #app-microi .sidebar-container-microi {
        font-size: 14px;
    }
    #app-microi .sidebar-container-microi.has-logo .el-scrollbar {
        height: calc(100% - 80px);
        // .el-scrollbar__view .el-menu:first-child div{
        //     height: 50px;
        // }
    }
    #app-microi .sidebar-container-microi .svg-icon {
        width: 15px;
    }
    .fixed-header-microi,
    .hasTagsView .app-main-microi {
        padding-left: 10px;
        padding-right: 10px;
    }
    .hasTagsView .fixed-header-microi + .app-main-microi {
        padding-top: 100px;
    }
    .tags-view-container-microi {
        border-bottom: none;
        box-shadow: -5px 6px 9px 0px rgba(84, 115, 232, 0.06);
    }
    .tags-view-container-microi .tags-view-wrapper-microi .tags-view-item-microi {
        border: none;
        height: 26px;
        line-height: 26px;
        margin-top: 8px;
        color: #171717;
        font-size: 14px;
    }
    .tags-view-container-microi .tags-view-wrapper-microi .tags-view-item-microi.active {
        // border-bottom: solid 3px #242B49;
        background-color: #5473e8;
        // background-color: #242B49;
        color: #fff;
    }
    .tags-view-container-microi .tags-view-wrapper-microi .tags-view-item-microi.active::before {
        display: none;
    }

    .tags-view-container-microi .el-tabs__header {
        margin: 0 0 10px;
    }
    .el-submenu__title i {
        color: #fff;
    }
    // 箭头颜色由动态样式控制，使用 MenuWordColor

    // 修复二级菜单箭头位置，防止溢出
    .nest-menu .el-submenu .el-submenu__title .el-submenu__icon-arrow {
        right: 40px !important; // 调整箭头位置，考虑二级菜单的左边距
    }
    .el-submenu__title,
    .el-menu-item {
        height: 50px;
        line-height: 50px;
        font-size: 14px;
    }
    .el-submenu .el-menu-item {
        height: 47px;
        line-height: 47px;
        font-size: 14px;
    }
    .el-menu .el-submenu .el-submenu .el-submenu__title {
        height: 47px;
        line-height: 47px;
    }

    #app-microi .sidebar-container-microi .is-active > .el-submenu__title:hover {
        color: #fff !important;
    }
    .el-menu-item.is-active:hover {
        color: #fff; // !important
    }

    // 确保嵌套二级菜单的悬停效果正确 - 背景色由动态样式控制
    .nest-menu .el-submenu .el-submenu__title:hover {
        // 背景色由 layout/index.vue 中的动态样式控制
        color: #fff !important; // 悬停时文字为白色
    }

    // 使用更高优先级的选择器，确保二级菜单悬停文字颜色正确
    #app-microi .sidebar-container-microi .nest-menu .el-submenu .el-submenu__title:hover {
        // 背景色由 layout/index.vue 中的动态样式控制
        color: #fff !important; // 悬停时文字为白色
    }

    //以下为elemnt-ui样式覆盖
    .el-table th {
        background-color: #f5f7fa; // #E5EAFF;
    }
    .el-table .cell {
        // color: #0F0F0F;
        color: #606266;
        white-space: nowrap;
    }
    //   .el-table .cell:last-child{
    //     color: #606266;
    //     white-space: unset;
    // }
    .el-table.cell-br .cell {
        color: #0f0f0f;
        // white-space: unset !important;
    }
    .el-table--mini th,
    .el-table--mini td {
        padding: 0;
    }
    .el-button {
        cursor: pointer; // !important
        // padding:7px 8px;
    }
    .el-button,
    .input-left-borderbg .el-input__inner {
        // border-left:solid 4px #5473E8 !important;
        // color: #010101;
    }
    .el-button.el-button--primary {
        // border-left:solid 4px #242B49 !important;
        color: #fff;
    }
    .el-button--primary {
        color: #fff;
        background-color: #409eff;
        border-color: #409eff;
    }
    .el-button--text,
    .el-dropdown .el-dropdown__caret-button,
    .el-input-group__append .el-button {
        border-left: none !important;
    }
    .el-tabs--border-card {
        border: none;
        box-shadow: -5px 6px 9px 0px rgba(84, 115, 232, 0.06);
    }
    .el-card {
        border: none;
    }
    .el-card.is-always-shadow {
        box-shadow: 0px 0px 0px 0px rgba(84, 115, 232, 0.06);
    }
    .el-textarea.is-disabled .el-textarea__inner,
    .el-input.is-disabled .el-input__inner,
    .el-tag.el-tag--info,
    .el-textarea__inner,
    .el-input__inner,
    .el-select-dropdown__item,
    .el-dropdown-menu__item,
    .app-breadcrumb.el-breadcrumb .no-redirect,
    .el-breadcrumb__inner,
    .navbar-microi .right-menu .right-menu-item,
    .el-pagination__total,
    .el-pagination__jump,
    .el-dialog__body,
    .el-radio__input.is-disabled + span.el-radio__label {
        // color: #171717;
        color: #0f0f0f;
    }
    //2022-07-22新增
    .fixed-header-microi {
        position: relative !important;
        padding-top: 0px;
        width: 100%;
    }
    .app-main-microi {
        padding-top: 20px !important;
    }
    //----END
}

.pull-left,
.float-left {
    float: left;
}
.pull-right,
.float-right {
    float: right;
}

.fa-mr2 {
    margin-right: 2px;
}
.fa-mr3 {
    margin-right: 3px;
}
.fa-mr4 {
    margin-right: 4px;
}

.padding5 {
    padding: 5px;
}
.padding10 {
    padding: 10px;
}
.padding15 {
    padding: 15px;
}
.padding20 {
    padding: 20px;
}

.paddingTop5 {
    padding-top: 5px;
}
.paddingTop10 {
    padding-top: 10px;
}
.paddingTop15 {
    padding-top: 15px;
}
.paddingTop20 {
    padding-top: 20px;
}

.paddingRight5 {
    padding-right: 5px;
}
.paddingRight10 {
    padding-right: 10px;
}
.paddingRight15 {
    padding-right: 15px;
}
.paddingRight20 {
    padding-right: 20px;
}

.paddingBottom5 {
    padding-bottom: 5px;
}
.paddingBottom10 {
    padding-bottom: 10px;
}
.paddingBottom15 {
    padding-bottom: 15px;
}
.paddingBottom20 {
    padding-bottom: 20px;
}
.paddingBottom50 {
    padding-bottom: 50px;
}

.margin5 {
    margin: 5px;
}
.margin10 {
    margin: 10px;
}
.margin15 {
    margin: 15px;
}
.margin20 {
    margin: 20px;
}

.marginTop5 {
    margin-top: 5px;
}
.marginTop10 {
    margin-top: 10px;
}
.marginTop15 {
    margin-top: 15px;
}
.marginTop20 {
    margin-top: 20px;
}
.marginTop25 {
    margin-top: 25px;
}
.marginTop30 {
    margin-top: 30px;
}
.marginTop35 {
    margin-top: 35px;
}
.marginTop40 {
    margin-top: 40px;
}
.marginTop50 {
    margin-top: 50px;
}

.marginBottom5 {
    margin-bottom: 5px;
}
.marginBottom10 {
    margin-bottom: 10px;
}
.marginBottom15 {
    margin-bottom: 15px;
}
.marginBottom20 {
    margin-bottom: 20px;
}
.marginBottom50 {
    margin-bottom: 50px;
}

.marginRight3 {
    margin-right: 3px;
}
.margin-right-3 {
    margin-right: 3px;
}
.marginRight5 {
    margin-right: 5px;
}

.marginRight10 {
    margin-right: 10px;
}
.marginRight15 {
    margin-right: 15px;
}
.marginRight20 {
    margin-right: 20px;
}
.marginRight50 {
    margin-right: 50px;
}

.marginLeft5 {
    margin-left: 5px;
}
.marginLeft10 {
    margin-left: 10px;
}
.marginLeft15 {
    margin-left: 15px;
}
.marginLeft20 {
    margin-left: 20px;
}
.marginLeft50 {
    margin-left: 50px;
}

.overHide,
.overhide,
.over-hide {
    overflow: hidden;
}
.no-br {
    white-space: nowrap;
    text-overflow: ellipsis;
}
.overHideX {
    overflow-x: hidden;
}
.overHideY {
    overflow-y: hidden;
}
.div-scroll {
    overflow-y: scroll;
}
.div-scroll::-webkit-scrollbar {
    width: 1px;
    height: 8px;
}
.clear {
    clear: both;
}
.bold {
    font-weight: bold;
}
.hand {
    cursor: pointer;
}
.drag {
    cursor: move;
}
.hide {
    display: none;
}
.width0 {
    width: 0% !important;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden;
}
.width25 {
    width: 25%;
}
.width75 {
    width: 75%;
}
.width100 {
    width: 100%;
}
.height100 {
    height: 100%;
}
.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}
.opacityHalf {
    opacity: 0.5;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
}
.opacity1 {
    opacity: 1;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
}
.colChildWidth100 {
    margin-left: -15px;
    margin-right: -15px;
    padding: 0 15px;
}
.transition1 {
    transition: 0.1s;
    -moz-transition: 0.1s;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
}
.transition2 {
    transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
}
.transition3 {
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
}
.transition4 {
    transition: 0.4s;
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
}

a.disabled {
    pointer-events: none;
    opacity: 0.5;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
}
.media-body,
.media-left,
.media-right {
    vertical-align: middle;
}
.color-red {
    color: red;
}
.justify {
    text-align-last: justify;
    text-align: justify;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    /* margin-bottom: 10px; */
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}
