/* uni.scss - 全局样式变量 */
$brand-color: #4e6ef2;
$brand-color-light: #6b8aff;
$brand-color-dark: #3a56d4;
$text-color: #333333;
$text-color-secondary: #999999;
$text-color-placeholder: #cccccc;
$bg-color: #f5f7fa;
$border-color: #eeeeee;
$success-color: #07c160;
$warning-color: #ff9900;
$error-color: #ee0a24;
