.microi {
    .el-timeline-item__content{
        line-height: 25px;
    }
    .el-tabs.parent-tabs{
        .el-tabs__nav-wrap:after {
            background-color: transparent;
            height: 0;
        }
    }
    
    .diy-design-right-form {
        .el-input-number.is-controls-right .el-input__inner {
            padding-left: 5px;
            padding-right: 32px;
        }
    }
    .el-progress-bar__innerText {
        color: #000 !important;
    }
    .ShowClassicTop0 {
        .el-tabs__header.is-top {
            display: none;
        }
    }
    .ShowClassicLeft0 {
        .tags-view-container-microi {
            padding: 0 !important;
        }
    }
    .more-search-item {
        .el-date-editor--datetimerange.el-input,
        .el-date-editor--datetimerange.el-input__inner {
            max-width: 100%;
        }
    }

    .el-popper.el-select-dropdown {
        //解决V8设计器把里面的下拉框弹出层挡住，V8设计器z-index是3100.
        z-index: 3500 !important; //为了不被V8挡住，却影响了所有的下拉菜单
    }
    
    // .el-button + .el-button
    // {
    //     margin-left: 0;
    // }
    // .el-input-group__append .el-button{
    //     margin-right: 0;
    // }
    .el-button.is-disabled {
        color: #c0c4cc !important;
        cursor: not-allowed !important;
        background-image: none !important;
        background-color: #ffffff !important;
        border-color: #e6ebf5 !important;
    }
    .el-button--primary.is-disabled {
        color: #ffffff !important;
        background-color: #8cc8ff !important;
        border-color: #8cc8ff !important;
        cursor: not-allowed !important;
    }
    .diy-design-container {
        .diy-form {
            .field-item {
                cursor: move !important;
                .container-form-item,
                label {
                    cursor: move !important;
                }
            }
            .field-item:hover {
                background-color: #ecf5ff;
                cursor: move !important;
            }
            .active-field {
                background-color: rgba(255, 106, 0, 0.2);
                .form-item label {
                    // border: #666 1px dashed;
                    // background-color: #d5d5d5;
                    font-weight: bold;
                }
            }
        }
    }
    .el-dialog{
        padding: 0px;
    }
    .dialog-opentable {
        // z-index:3100 !important;
        .el-dialog__header,
        .el-dialog__body {
            padding: 10px;
        }
        .el-dialog__header {
            padding-top: 20px;
            padding-bottom: 0px;
        }
        .el-dialog__body {
            padding-top: 0px !important;
        }
        .keyword-search,
        .search-outside {
            padding-left: 0px !important;
        }
    }
    .el-cascader-panel {
        .el-radio__input,
        .el-checkbox__input {
            margin-top: 8px;
        }
    }

    .CodeMirror {
        height: auto;
        min-height: 300px;
        .CodeMirror-scroll {
        }
    }
    pre {
        margin: 0.5em 0;
        padding: 0.4em 0.6em;
        border-radius: 8px;
        background: #f8f8f8;
    }
    .el-tooltip__popper {
        max-width: 50vw;
    }
    .el-notification {
        z-index: 9999999 !important;
    }
    .el-notification__content {
        white-space: normal;
        word-break: break-all;
        word-wrap: break-word;
    }
    // 目前已知的是：diy弹出的层都是2000开始依次+1,
    // neditor一定要设置3000，甚至是3万，因为element的弹出层，会从2000开始一直持续增长，增长到2000多的时候，neditor如果设置2000，那么编辑器里面的图片上传弹出来就会在elemment的2000多之下。
    // 而neditor设置的是3000，目的是为了编辑器右键能弹出层来
    // 但是，第二级diy弹出层就会被编辑器的3000挡住，目前仅解决了dialog-v8-wrapper的V8引擎弹出层不被编辑器挡住，因为是4000
    // 但是解决不了第二级diy弹出层会被编辑器挡住的问题。 除非使用js计算？
    .dialog-v8,
    .dialog-v8-wrapper,
    .el-message-box__wrapper {
        z-index: 4100 !important;
        .el-message-box {
            max-width: 95%;
        }
    }
    //如果设置了遮罩层，那么diy弹出层就在下面了， DIY弹出层是2000+
    //已知的问题是遮罩层挡不住3000的编辑器
    .v-modal {
        // z-index: 4000 !important; //理不清，就暂时不用
        display: none;
    }
    .diy-form-container .el-drawer__body {
        padding: 15px;
        // padding-top: 5px;
        height: 100%;
        overflow-y: scroll;
        // position: relative;
        padding-bottom: 85px;
    }
    .el-input.is-disabled .el-input__inner,
    .el-textarea.is-disabled .el-textarea__inner {
        background-color: #f5f7fa !important;
    }
    .el-input__inner,
    .el-textarea__inner {
        font-size: 14px;
    }
    .el-textarea__inner {
        padding-top: 4px !important;
    }
    .el-avatar > img {
        width: 100%;
    }
    .itdos-diy-form {
        .container-form-item {
            img {
                max-width: 100% !important;
            }
            .el-select.el-select--mini,
            .el-date-editor,
            .el-autocomplete,
            .el-input-number,
            .el-input-number--mini,
            .el-cascader--mini {
                width: 100%;
            }
            .el-radio-group {
                margin-top: 2px;
                // .el-radio__input{
                //     margin-top: -2px;
                // }
            }
            label {
                font-weight: normal;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .el-form-item--mini.el-form-item {
                min-height: 33px;
                .el-form-item__content {
                    // height: 28px;
                }
            }
        }
    }
    .el-col-5 {
        width: 20%;
    }
    @media only screen and (max-width: 1000px) {
        .el-col-5 {
            width: 100%;
        }
    }
    .dropdown-big-button {
        .el-dropdown-menu__item {
            line-height: 28px;
        }
        .icon {
            width: 15px;
        }
    }
    .card-data-animate.el-card {
        transition: all 0.3s;
    }
    .card-data-animate.el-card:hover {
        transform: scale(1.04);
        box-shadow: 10px 10px 10px 0px rgba(84, 115, 232, 0.06);
    }
    .card-data-animate {
        border-left: solid 5px var(--color-primary) !important;
        .preview {
            width: 100%;
            display: block;
        }
        .el-card__body {
            padding: 15px;
            padding-top: 0;
            padding-bottom: 10px;
        }
        .el-card__header {
            border-bottom: none;
            padding: 15px;
            padding-top: 10px;
            padding-bottom: 10px;
            line-height: 28px;
            font-size: 14px;
        }
        .bottom-time,
        .bottom {
            color: #999;
            font-size: 14px;
            margin-top: 5px;
        }
        .item {
            height: 30px;
            line-height: 30px;
            color: #6b6b6b;
            overflow: hidden;
        }
        .title {
            font-weight: bold;
            max-width: 110px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    .card-data-animate.no-padding {
        border-left: none !important;
        .preview {
            height: 150px;
            object-fit: cover;
            width: 100%;
        }
        .el-card__body {
            padding: 0;
        }
        .body {
            padding: 15px;
            padding-bottom: 10px;
            line-height: 30px;
            .title {
                font-size: 14px;
            }
        }
        .item {
            padding-left: 15px;
            padding-right: 15px;
        }
        .bottom {
            color: #999;
            font-size: 14px;
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 20px;
        }
    }

    #table-rowlist-tabs {
        .el-tabs__header {
            background-color: #fff;
            border-radius: 4px;
        }
        .el-tabs__nav-wrap {
            padding-left: 10px;
        }
        .el-tabs__nav-wrap::after {
            height: 0;
        }
        .el-tabs__item {
            font-weight: normal;
        }
    }
    .tab-pane-hide {
        box-shadow: none;
        border: none;

        .el-tabs__header {
            display: none !important;
        }
        .el-tabs__content {
            padding: 0;
        }
    }
    .tab-pane-show {
        .el-tabs__header {
            display: block;
        }
    }
    .diy-search-popover {
        padding: 20px;
        max-width: 90%;
        padding-left: 10px;
    }
    .el-dialog__wrapper .el-dialog__body {
        max-height: calc(85vh - 100px);
        overflow-y: scroll;
    }

    .el-table__empty-block {
        width: 100% !important;
    }
    .el-drawer__header,
    .el-dialog__header {
        margin-bottom: 0px !important;
        padding: 10px 15px;
        border-top: solid 5px #5473e8;
        // border-top: solid 5px #242B49;
        box-shadow: -5px 6px 9px 0px rgba(84, 115, 232, 0.06);
        min-height: 52px;
        line-height: 30px;
    }
    .el-dialog__header {
        border-top: solid 5px #5473e8;
    }
    .el-drawer {
        // overflow-y: scroll;
    }
    .el-drawer__body {
        padding: 15px;
        // padding-top: 5px;
        height: 100%;
        overflow-y: scroll;
        // position: relative;
        padding-bottom: 85px;
    }
    .el-timeline-item__tail {
        left: 11px !important;
    }
    .el-scrollbar__bar.is-horizontal{
        height: 15px;
    }
    .el-tag{
        .el-tag__content{
            font-size:13px;
            flex-wrap: nowrap;
            display: flex;
            align-items: center;
            gap: 3px;
            width: 100%;
        }
    }
}
