#app-microi {
    .main-container-microi {
        min-height: 100%;
        transition: margin-left 0.28s;
        margin-left: 240px;
        position: relative;
        z-index: 1000;
    }

    .sidebar-container-microi {
        transition: width 0.28s;
        width: 240px; // !important
        background-color: $menuBg;
        height: 100%;
        position: fixed;
        font-size: 0px;
        top: 0;
        bottom: 0;
        left: 0;
        // z-index: 1001;
        // 这里一定要大一点，否则移动端的左侧菜单弹出后无法显示在最顶层，下次要修改需慎重！ --2025-08-24 by anderson
        // z-index:999;
        overflow: hidden;
        // z-index 移动端才设置大一点
        @media (max-width: 768px) {
            z-index: 1001;
        }
        // reset element-ui css
        .horizontal-collapse-transition {
            transition:
                0s width ease-in-out,
                0s padding-left ease-in-out,
                0s padding-right ease-in-out;
        }

        .scrollbar-wrapper-microi {
            overflow-x: hidden !important;
        }

        .el-scrollbar__bar.is-vertical {
            right: 0px;
        }

        .el-scrollbar {
            height: 100%;
        }

        &.has-logo {
            .el-scrollbar {
                height: calc(100% - 50px);
            }
        }

        .is-horizontal {
            display: none;
        }

        a {
            // display: inline-block;
            width: 100%;
            overflow: hidden;
        }

        .svg-icon {
            margin-right: 16px;
        }

        .sub-el-icon {
            margin-right: 12px;
            margin-left: -2px;
        }

        .el-menu {
            border: none;
            height: 100%;
            width: 100% !important;
        }

        .submenu-title-noDropdown-microi,
        .el-submenu__title {
            &:hover {
                color: #fff !important; // 悬停时文字为白色
            }
        }

        .is-active > .el-submenu__title {
            color: $subMenuActiveText !important;
        }
        // 修复二级菜单箭头位置，防止溢出
        .nest-menu .el-submenu .el-submenu__title .el-submenu__icon-arrow {
            right: 40px !important; // 调整箭头位置，考虑二级菜单的左边距
        }

        & .nest-menu .el-submenu > .el-submenu__title,
        & .el-submenu .el-menu-item {
            min-width: 240px !important;
            // background-color: $subMenuBg !important;

            &:hover {
                // background-color: $subMenuHover !important;
            }
        }
    }

    .hideSidebar {
        .sidebar-container-microi {
            width: 54px !important;
            .el-menu {
                margin-bottom: 120px;
            }
        }

        .main-container-microi {
            margin-left: 54px;
        }

        .submenu-title-noDropdown-microi {
            padding: 0 !important;
            position: relative;

            .el-tooltip {
                padding: 0 !important;

                .svg-icon {
                    margin-left: 20px;
                }

                .sub-el-icon {
                    margin-left: 19px;
                }
            }
        }

        .el-submenu {
            overflow: hidden;

            & > .el-submenu__title {
                padding: 0 !important;

                .svg-icon {
                    margin-left: 20px;
                }

                .sub-el-icon {
                    margin-left: 19px;
                }

                .el-submenu__icon-arrow {
                    display: none;
                }
            }
        }

        .el-menu--collapse {
            .el-submenu {
                & > .el-submenu__title {
                    & > span {
                        height: 0;
                        width: 0;
                        overflow: hidden;
                        visibility: hidden;
                        display: inline-block;
                    }
                }
            }
        }
    }

    .el-menu--collapse .el-menu .el-submenu {
        min-width: 240px !important;
    }

    // mobile responsive
    .mobile {
        .main-container-microi {
            margin-left: 0px;
        }

        .sidebar-container-microi {
            transition: transform 0.28s;
            width: 240px !important;
        }

        &.hideSidebar {
            .sidebar-container-microi {
                pointer-events: none;
                transition-duration: 0.3s;
                transform: translate3d(-240px, 0, 0);
            }
        }
    }

    .withoutAnimation {
        .main-container-microi,
        .sidebar-container-microi {
            transition: none;
        }
    }
}

// when menu collapsed
.el-menu--vertical {
    & > .el-menu {
        .svg-icon {
            margin-right: 16px;
        }
        .sub-el-icon {
            margin-right: 12px;
            margin-left: -2px;
        }
    }

    .nest-menu .el-submenu > .el-submenu__title,
    .el-menu-item {
        // background-color: rgba(36, 43, 73, 0.8); /* 半透明背景 */
        color: #000 !important; /* 文字颜色 */

        &:hover {
            // you can use $subMenuHover
            // background-color: $menuHover !important;
        }
    }

    // 确保嵌套二级菜单的悬停效果正确 - 背景色由动态样式控制
    .nest-menu .el-submenu .el-submenu__title:hover {
        // 背景色由 layout/index.vue 中的动态样式控制
        color: #fff !important; // 悬停时文字为白色
    }

    // 使用更高优先级的选择器，确保二级菜单悬停文字颜色正确
    #app-microi .sidebar-container-microi .nest-menu .el-submenu .el-submenu__title:hover {
        // 背景色由 layout/index.vue 中的动态样式控制
        color: #fff !important; // 悬停时文字为白色
    }

    // the scroll bar appears when the subMenu is too long
    > .el-menu--popup {
        max-height: 100vh;
        overflow-y: auto;
        background-color: rgba(36, 43, 73, 0.9) !important ;

        &::-webkit-scrollbar-track-piece {
            background: #d3dce6;
        }

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-thumb {
            background: #99a9bf;
            border-radius: 20px;
        }
    }
}
